# Project exclude paths
/venv/
/.idea
/__pycache__/
/app/__pycache__/
/dao/__pycache__/
/devices/__pycache__/
/services/__pycache__/
/views/__pycache__/
/migrations/__pycache__/
/migrations/versions/__pycache__/
server.py
server.wsgi
/app/boxes.db