<!doctype html>
<html lang="en">

<head>
    <title>Ячейки</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>

<div class="wrapper container">
    <header></header>
    <nav id="menu" class="navbar navbar-expand-sm  justify-content-center  fixed-top">
        <ul class="nav nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="/tasks">ТехЗадания</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" style="border-Bottom :2px solid #F8E015">Ячейки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log">Логи</a>
            </li>
        </ul>
    </nav>
</div>

{% for box in boxes %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 "></div>
            <div class="col-md-1 left" align="center">{{ box.box_id }}</div>
            <div class="col-md-4">
                <form action="/box/change" id="task_change{{ box.box_id }}" method="post">
                    <select name="task" class="form-control" align="center">
                        <option selected
                                value="{{ box.box_id }} - {{ box.tech_task_id }}">{{ box.tech_task_id }} </option>
                        <option value="{{ box.box_id }} - none">---</option>
                        {% for task in tasks %}
                            <option value="{{ box.box_id }} - {{ task.tech_task_id }}">{{ task.tech_task_id }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="col-md-1 right" align="center">
                <div>
                    <button type="submit" form="task_change{{ box.box_id }}" class="btn btn-circle"><i
                            class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-circle"><i class="fa fa-lock"></i></button>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
</body>

<script src="{{ url_for('static', filename='slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</html>