<!doctype html>
<html lang="en">

<head>
    <title>Логи</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>

<nav class="navbar navbar-expand-sm  justify-content-center  fixed-top">
    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link" href="/tasks">ТехЗадания</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Ячейки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/log" style="border-Bottom :2px solid #F8E015">Логи</a>
        </li>
    </ul>
</nav>
<form action="/log/download" method="get">
    <button type="submit" class="btn2">Скачать логи</button>
</form>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Сотрудник</th>
            <th scope="col">Ячейка</th>
            <th scope="col">ТЗ</th>
            <th scope="col">Дата и время</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <th scope="row">{{ log.worker }}</th>
                <td>{{ log.log_id }}</td>
                <td>{{ log.tech_task_id }}</td>
                <td>{{ log.get_date() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>

<script src="{{ url_for('static', filename='slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</html>
